page-login {

    ion-title {
        text-align: center;
    }

    ion-content {
        background: #0000CD !important;
        text-align: center;
    } 

    ion-img {
        
        background: #0000CD !important;
        text-align: center;
        width: 20px;
        height: 20px;
        
    }

    ion-item {
        background: #0000CD !important;
        text-align: center;
    }

    ion-button {
        background: #0000CD !important;
        text-align: center;
    }
    
    ion-label {
        text-align: center;
    }
}
